@{
    ViewData["Title"] = "NeoNext SPECTRUM<Beta>";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If you want know about C# & .Net core programming.</p>
    <p>Learn more at <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
